
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12  col-sm-offset-2 col-sm-10"
          <div class="page-header">
            <h1>Address Book
              <br>
              <h4> A fancy name for a basic contact list</h4>
            </h1>
              <br>
            <p><a class="btn btn-default btn-lg" href="#" role="button">Add Contact</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">
          <i class="fa-lg fa-address-book" aria-hidden="true"></i> <strong>Contacts</strong> <span class="badge">#</span></h1>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% contact.forEach(contactEntry => { %>
              <a href="#" class="list-group-item">
                <h3 class="list-group-item-heading"><%= contactEntry.first_name %> <%= contactEntry.last_name %></h3>
                <h5 class="list-group-item-text"><%= contactEntry.email %></h5>
              </a>
          <% }) %>
        </div>
      </div>
      <div class="panel-footer"></div>
    </div>
  </body>
</html>
